@import "tailwindcss";

/* Poppins Font */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* HUMANE Font */
@font-face {
  font-family: "Humane";
  src: url("/Humane-Bold.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Thunder Font */
@font-face {
  font-family: "Thunder";
  src: url("/Thunder-Black.ttf") format("opentype");
}

/* HardBop */
@font-face {
  font-family: "HardBop";
  src: url("/Hardbop-semibold.otf") format("opentype");
}

.font-poppins {
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
}

.font-humane {
  font-family: "Humane", system-ui, -apple-system, sans-serif;
}

.font-thunder {
  font-family: "Thunder", system-ui, -apple-system, sans-serif;
}

.font-lausanne {
  font-family: "lausanne", system-ui, -apple-system, sans-serif;
}

.font-hardbop {
  font-family: "HardBop", system-ui, -apple-system, sans-serif;
}

/* Utility classes for custom colors */
.bg-gray-nav {
  background-color: var(--color-gray-nav);
}

.bg-black-nav {
  background-color: var(--color-black-nav);
}

/* Navigation item hover styles */
.nav-item {
  background-color: var(--color-gray-nav);
  color: inherit;
  border-radius: 0.375rem;
  /* rounded */
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  background-color: var(--color-black-nav);
  color: white;
  border-radius: 9999px;
  /* rounded-full */
}

/* Dark theme navigation item hover styles */
.nav-item-dark {
  background-color: transparent;
  color: white;
  border-radius: 0.375rem;
  /* rounded */
  transition: all 0.3s ease-in-out;
}

.nav-item-dark:hover {
  background-color: white;
  color: black;
  border-radius: 9999px;
  /* rounded-full */
}
